<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401665548673-tv2jv37tkhuc9fpbuqe47qisc7ngg07m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401665548673-tv2jv37tkhuc9fpbuqe47qisc7ngg07m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>401665548673-thr4s96b813ea3e5bn4f9m00ae2f9n91.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzgRdUA4WefxylMfLt4urHqgsMNAMWP-o</string>
	<key>GCM_SENDER_ID</key>
	<string>401665548673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>seven7cares</string>
	<key>STORAGE_BUCKET</key>
	<string>seven7cares.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401665548673:ios:33d74784063f3934ad4880</string>
	<key>DATABASE_URL</key>
	<string>https://seven7cares.firebaseio.com</string>
</dict>
</plist>